@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Madimi+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tagesschrift&display=swap');

.jsIntermediate {
    border: 1px solid;
    border-radius: 5px;
    .panit {
        // border: 1px solid;   
        border-radius: 8px;
        margin: 2px 3px 2px 3px;
        
        // overflow: hidden; /* Ensures the content doesn't spill outside */
         
        h3 {
            display: flex;
            margin: 1px 0 1px 0;
            text-align: center;
            // border: 1px solid;
            width: 12.7%;
            animation: movingTitle 7s linear infinite, colorCycle 1.2s infinite linear;
            border-radius: 5px;
            p {
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                margin: 0;
                width: 236px;
                // border   : 1px solid;
                flex-shrink: 0;
            }
        }

        @keyframes movingTitle {
            0%   { transform: translateX(0); }
            25%  { transform: translateX(29); }
            50%  { transform: translateX(693%); } /* 100% is the width of the element itself */
            75%  { transform: translateX(29); }
            100% { transform: translateX(0); }
          }
    
        @keyframes colorCycle {
        0% { color: #cd4949; }
        20% { color: #16ebe4; }
        40% { color: #074e9e; }
        60% { color: #e40855; }
        80% { color: #c0b40e; }
        100% { color: #cd4949; }
        }
    }
    .boxRoadJs {
        display: flex;
        // border: 1px solid;
        #widthadjust {
            // border: 1px solid;
        }
    }

    .jsimroad {
        border: 1px solid;
        border-radius: 7px;
        width: 350px;
        margin: 3px;

        h4 {
            margin: 0;
            text-align: center;
        }
    }
}

body {
    background: #F2F2F2;
    // margin: 0;
    font-family: "Poppins";
}

.slur {
    width: 220px;
}

.dpNamediv {
    // border: 1px solid;
    margin: 10px;
    .displayname{
        border: 1px solid;
        display: inline-block; /* Auto-resize to content */
        padding: 2px 10px 10px 10px;
        background-color: #f2f2f2;
    
        .helloDiv {
            display: flex;
            margin: 0;
            
            #greeting {
                flex-shrink: 1;
                flex-grow: 3;
                margin: 0;
                text-align: center;
                margin: 10px;
                border: 1px solid;
            }
        }
        
        #submitName {   
            text-align: center;
        }
    }
}

.loginPlease {
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;

    p {
        margin: 0;
        margin-bottom: 10px;
        text-align: center;
        span {
            text-decoration: underline;
        }
    }

    #pass1 {
        border: thin solid;
        border-radius: 5px;
    }
    
    .dpPassBlock {
        // border: 1px solid;
        padding: 0;
        display: flex;
        justify-content: center;
        #dpPass{
            // border: 1px solid;
            display: inline-block;
            // margin: 10px;
            #displaypass {
                flex-shrink: 3;
                flex-grow: 1;
                // border: 1px solid;
                border-radius: 8px;
                flex-shrink: 2;
                padding: 5px;
                margin: 0;
            }
        }
    }
}

.Event1 {
    border: 1px solid;
    padding: 3px;
    display: inline-block;
    border-radius: 5px;

    
    
    #pieChart {
        border: 1px solid;
        margin: 10px;
        text-align: center;
    }
      
    .container {
        // border: 1px solid;
    }

    .borderThis {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        padding: 5px;
        justify-content: center;
        align-items: center;
    }

    .borderThis >  div {
        border: 1px solid;
        border-radius: 5px;
        padding: 5px;
    }
}
#inout {
    border: 1px solid;
}

.Event2 {
    margin: 10px 5px;
}

.Event3{
    margin: 5px;
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;

    .container2 {
        display: flex;
    }
}
.Event3:hover {
    box-shadow: 3px 0  3px #074e9e,
                -3px 0  3px #0ca896,
                0 -2px  5px #3c3b47,
                0 3px  3px #02f66c;

    .container2 {
        @keyframes spin {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(360deg);
            }
        }    

        @keyframes spin2 {
            10% { background-color: #f6e123;}
            20% { background-color: #ea521b; }
            30% { background-color: #46c295; }
            40% { background-color: #ddecee; }
            50% { background-color: #a7187e; }
            60% { background-color: #6e6aad; }
            70% { background-color: #a82929; }
            // width: 50px;aspect-ratio: 1; background: #F8CA00; clip-path: polygon(50% 0, calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))), calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))), calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))));
            80% { background-color: #303a2c; }
            90% { background-color: #193299; }
            100% { background-color: #2cb367; }
            /* or more simple
            clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%); 
            */
        }

        @keyframes changeShape {
            0% {width: 50px;aspect-ratio: 1; background: #F8CA00; clip-path: polygon(50% 0, calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))), calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))), calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))));}
            50% {height: 250px; /* adjust to control the size */
                aspect-ratio: 1;
                --_m: radial-gradient(#000 69%,#0000 70%) 84.5%/50%;
                -webkit-mask-box-image: var(--_m);
                           mask-border: var(--_m);
                clip-path: polygon(-41% 0,50% 91%, 141% 0);
                background: #cc333f;}
            100% {--t: 45%; /* control the tail part */
                --h: 40%; /* control the head part */
                
                aspect-ratio: 3/2;
                width: 250px;
                background: #033649;
                clip-path: polygon(0 calc(50% - var(--t)/2),calc(100% - var(--h)) calc(50% - var(--t)/2),calc(100% - var(--h)) 0,100% 50%,calc(100% - var(--h)) 100%,calc(100% - var(--h)) calc(50% + var(--t)/2),0 calc(50% + var(--t)/2));}
        }

        /* fallback until better support for mask-border */
        @supports not (-webkit-mask-box-image: var(--_m)) { 
            .heart {
            mask:
            radial-gradient(at 70% 31%,#000 29%,#0000 30%),
            radial-gradient(at 30% 31%,#000 29%,#0000 30%),
            conic-gradient(#000 0 0) bottom/100% 50% no-repeat;
            }
        }
    }
}

.EventsandObjects {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    .imgEandO {
        width: 350px;
        transition: transform 2s ;
    }
    .imgEandO:active {
        transform: scale(4) rotate(720deg) translate(185px, -85px);
    }
}

.createParagraph {
    margin: 5px;
    #containerNewElement {
        h5 {
            margin: 0;
        }
        border: 1px solid;
        display: inline-block;
    }
}

#replaceMeContainer {
    border: 1px solid;
    display: inline-block;
    text-align: center;
    padding: 5px;
    #clickReplaceme {
        margin: 0; 
    }
    #OldButton {text-align: center};
}

.Timers {
    margin: 5px;
    h2 {
        margin: 0;
        text-align: center;
    }

    .Taymers  {
        display: inline-block;
        border: 1px solid;
        border-radius: 5px;
        padding: 0 8px;
        text-align: center;

        #msConvertion {
            width: 400px;
        }
    }
}
// Array
#ArrayDiv {
    // border: 1px solid;
    position: relative;
    display: inline-block;
    text-align: center;
    h5 {
        margin: 0;
        text-align: center;
    }
    #closeX {
        width: 50px;
        position: absolute;
        right: 1px;
        // display: none;
        // Erase after testing
        top: 20px;
        right: 20px;
    }
    #closeX:hover {
        // box-shadow: 0 0 10px white;
        border: none;
        cursor: pointer;
        filter: drop-shadow(0 0 10px white);
        transition: filter 0.3s ease;
    }
}

#pussySticky {
    display: block;

    #Arrayimg {
        width: 350px;
        // Test 
        // position: absolute;
        // top: 10em;
        // left: 35%;

        // from GpT
        // max-width: 90%;
        // max-height: 90%;
        // box-shadow: 0 0 20px white;
        // border-radius: 10px;
    }
    #closeX {
        display: none;
    }
}

// enlarged-img: you can use this to enlarge the image
/* CSS */
.popup-style {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
}
  
.img-popup {
    width: 600px;
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 0 20px white;
    // border-radius: 10px;
}
  
.hidden {
    display: none;  
}


.Arrays {
    .ArraysContainer {
        border: 1px solid;
        display: inline-block;
        border-radius: 5px;

    }
    .flexthis {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        // gap: 10px;
        padding: 5px;
    }
    .shoppingCart{
        border: 1px solid;
        padding: 3px;
        margin: 5px;
        flex-shrink: 1;
        flex-grow: 3;
        h5 {
            
            margin: 0;text-align: center;}
        p{text-align: center;}
    }

    .Weekdays {
        border: 1px solid;
        margin: 5px;
        flex-shrink: 3;
        flex-grow: 3;
        h5 {margin: 0;text-align: center;}
        p{text-align: center;}
    }
}
.colorP {
    border: 1px solid; 
    display: inline-block; 
    border-radius: 5px;
    margin: 5px;

    #colorMe {margin: 0;}
}

.Colorslider {
    border: 1px solid;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
   
    .makeSpaceCol {
        flex-wrap: wrap;
        display: flex;
        // row-gap: 20px;
        column-gap: 15px;
        justify-content: center;
    }

    #slider1 {
        // border: 1px solid;
        text-align: center;
    }
}

.ClassListusingTheArray {
    // border: 1px solid;
    border-radius: 5px;
    margin: 5px;
    .classList {
        border: 1px solid;
        padding: 0 5px 5px 5px;
        border-radius: 5px;
        display: inline-block;
        h3 {
            margin: 0;
            text-align: center;
        }
    }
}

.ArraysDOM {
    border: 1px solid;
    border-radius: 5px;
    display: inline-block;

    .theFlex {
        display: flex;
    }
    
    .containerArraysDOM {
        // border: 1px solid;   
        display: inline-block;
        padding: 8px;
        h3 {
            margin: 0;
        }

        .centerIT {
            border: 1px solid;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    #AccessME {
        // border: 1px solid;
        display: inline-block;
        padding: 5px;
        margin: 5px;
    }

    #ClickThistoChange {
        // border: 1px solid;
        .centerThat {
            margin: 3px;
            // border: 1px solid;
            display: flex; justify-content: center; align-items: center;}
        
        margin: 5px;


        h1 {
            margin: 0;
            text-align: center;
            font-size: small;
        }
    }

    .theClassName {
        border: 1px solid;
        margin: 5px;
        text-align: center;
        
        // height: 50%;
        button {margin: 7px;}

        .flexButtons {
            display: flex;
        }

        .insideContainer {
            // border: 1px solid;
        }

        h5 {
            margin: 0;
            text-align: center;
        }

        #fromHere1 {
            border: 1px solid;
            margin: 5px;
            text-align: center;
            margin: 5px;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;

            .items {
                text-align: center;
                margin: 5px;
                padding: 5px;
                // display: flex;
                // justify-content: center;
                // align-items: center;
                .alignCenter {border: 1px solid;}
            }
        }
        #moveHere {
            border: 1px solid;
            margin: 5px;
            padding: 5px;
            text-align: center;
            .toitems {
                // border: 1px solid;
                margin: 5px;
                padding: 5px;
            }
        }

        // AnimatingElements
        .AnimatingElements {
            border: 1px solid;
            margin: 5px;
            padding: 5px;
            display: flex; // Make it flex
            flex-direction: column; // Stack children vertically
            align-items: center; // Center content horizontally
            // width: ; // Shrink to fit content
        }
        
        .containerofBall {
            // position: relative;
            // border: 1px solid;
            width: 100%;
            height: 150px;
            display: flex;
            justify-content: center; // Center ball horizontally
            align-items: center;
            background-image: url(../images/basketballCourt.jpg);
            // background-repeat: no-repeat;
            background-size: cover;
            background-repeat: repeat-x;
            background-position: center;
        }
          
        #myball {
            display: none; // Initially hidden
            width: 48px; // Fixed size ball
            height:48px;
            // padding: 35px;
            // border: 1px solid;
            box-shadow: 1.5px 3px 5px rgba(0, 3, 0, 0.671);
            border-radius: 50%;
            background-image: url(../images/Ball.svg);
            background-size: cover;
            background-repeat: no-repeat;
            // background-size: contain;
        }

        .remoteController {
            border: 1px solid;
            margin: 5px;
            // display: flex;
            justify-content: center;
            align-items: center;
            
            p {
                font-family: "Madimi One", sans-serif;  
                margin:     0 10px;
            }
            .boxShadow {
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                // border: 1px solid;
                display: inline-block;
                padding: 7px;
                margin: 10px;
                border-radius: 5px;
                background-color: #11c7a9;
                
                button {
                    margin: 3px;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                }
                .soloUpbutton {
                    text-align: center;
                    display: block;
                    margin: 0;
                    // border: none;
                }
            }
        }

        .PlayBallGame {
            border: 1px solid;
            position: relative;
            display: inline-block;
            // padding: 20px;
            width: fit-content;
            // margin: 5px;
            background-color: rgba(236, 165, 106, 0.788);
            // border: 1px solid #000;
            // z-index: 1;

            #theCover {
                position: absolute;
                justify-content: center;
                align-items: center;
                display: flex;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.815); /* Dark overlay */
                z-index: 2;
                border-radius: 5px;
                // display: none; /* Initially hidden */
            }

            .putMiddle {
                // display: flex;
                position: relative;
                top: -1em;
                text-align: center;
                // justify-content: center;
                // border: 1px solid white;

                h3 {
                    font-family: "Madimi One", sans-serif;
                    color: rgb(217, 177, 47);
                }
                
                #buttonPlay {
                    border: 1px thin #000000fb 5px;
                    border-radius: 5px;
                    // width: 100%;
                    padding: 5px 10px;
                }
            }
            #SlamdunkSong {
                display: block;
            }
        }
          
    }
}