@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.jsIntermediate {
    border: 1px solid;
    border-radius: 5px;
    .panit {
        // border: 1px solid;   
        border-radius: 8px;
        margin: 2px 3px 2px 3px;
        
        // overflow: hidden; /* Ensures the content doesn't spill outside */
        
        h3 {
            display: flex;
            margin: 1px 0 1px 0;
            text-align: center;
            // border: 1px solid;
            width: 12.7%;
            animation: movingTitle 7s linear infinite, colorCycle 1.2s infinite linear;
            border-radius: 5px;
            p {
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                margin: 0;
                width: 236px;
                // border   : 1px solid;
                flex-shrink: 0;
            }
        }

        @keyframes movingTitle {
            0%   { transform: translateX(0); }
            25%  { transform: translateX(29); }
            50%  { transform: translateX(693%); } /* 100% is the width of the element itself */
            75%  { transform: translateX(29); }
            100% { transform: translateX(0); }
          }
    
        @keyframes colorCycle {
        0% { color: #cd4949; }
        20% { color: #16ebe4; }
        40% { color: #074e9e; }
        60% { color: #e40855; }
        80% { color: #c0b40e; }
        100% { color: #cd4949; }
        }
    }

    .jsimroad {
        border: 1px solid;
        border-radius: 7px;
        width: 300px;
        margin: 3px;

        h4 {
            margin: 0;
            text-align: center;
        }
    }
}

body {
    background: #F2F2F2;
    // margin: 0;
    font-family: "Poppins";
}

.slur {
    width: 220px;
}

.dpNamediv {
    // border: 1px solid;
    margin: 10px;
    .displayname{
        border: 1px solid;
        display: inline-block; /* Auto-resize to content */
        padding: 2px 10px 10px 10px;
        background-color: #f2f2f2;
    
        .helloDiv {
            display: flex;
            margin: 0;
            
            #greeting {
                flex-shrink: 1;
                flex-grow: 3;
                margin: 0;
                text-align: center;
                margin: 10px;
                border: 1px solid;
            }
        }
        
        #submitName {   
            text-align: center;
        }
    }
}

.loginPlease {
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;

    p {
        margin: 0;
        margin-bottom: 10px;
        text-align: center;
        span {
            text-decoration: underline;
        }
    }

    #pass1 {
        border: thin solid;
        border-radius: 5px;
    }
    
    .dpPassBlock {
        // border: 1px solid;
        padding: 0;
        display: flex;
        justify-content: center;
        #dpPass{
            // border: 1px solid;
            display: inline-block;
            // margin: 10px;
            #displaypass {
                flex-shrink: 3;
                flex-grow: 1;
                // border: 1px solid;
                border-radius: 8px;
                flex-shrink: 2;
                padding: 5px;
                margin: 0;
            }
        }
    }
}

