@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.jsIntermediate {
  border: 1px solid;
  border-radius: 5px;
}
.jsIntermediate .panit {
  border-radius: 8px;
  margin: 2px 3px 2px 3px;
}
.jsIntermediate .panit h3 {
  display: flex;
  margin: 1px 0 1px 0;
  text-align: center;
  width: 12.7%;
  animation: movingTitle 7s linear infinite, colorCycle 1.2s infinite linear;
  border-radius: 5px;
}
.jsIntermediate .panit h3 p {
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 0;
  width: 236px;
  flex-shrink: 0;
}
@keyframes movingTitle {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(29);
  }
  50% {
    transform: translateX(693%);
  } /* 100% is the width of the element itself */
  75% {
    transform: translateX(29);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes colorCycle {
  0% {
    color: #cd4949;
  }
  20% {
    color: #16ebe4;
  }
  40% {
    color: #074e9e;
  }
  60% {
    color: #e40855;
  }
  80% {
    color: #c0b40e;
  }
  100% {
    color: #cd4949;
  }
}
.jsIntermediate .boxRoadJs {
  display: flex;
}
.jsIntermediate .jsimroad {
  border: 1px solid;
  border-radius: 7px;
  width: 350px;
  margin: 3px;
}
.jsIntermediate .jsimroad h4 {
  margin: 0;
  text-align: center;
}

body {
  background: #F2F2F2;
  font-family: "Poppins";
}

.slur {
  width: 220px;
}

.dpNamediv {
  margin: 10px;
}
.dpNamediv .displayname {
  border: 1px solid;
  display: inline-block; /* Auto-resize to content */
  padding: 2px 10px 10px 10px;
  background-color: #f2f2f2;
}
.dpNamediv .displayname .helloDiv {
  display: flex;
  margin: 0;
}
.dpNamediv .displayname .helloDiv #greeting {
  flex-shrink: 1;
  flex-grow: 3;
  margin: 0;
  text-align: center;
  margin: 10px;
  border: 1px solid;
}
.dpNamediv .displayname #submitName {
  text-align: center;
}

.loginPlease {
  border: 1px solid;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
}
.loginPlease p {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}
.loginPlease p span {
  text-decoration: underline;
}
.loginPlease #pass1 {
  border: thin solid;
  border-radius: 5px;
}
.loginPlease .dpPassBlock {
  padding: 0;
  display: flex;
  justify-content: center;
}
.loginPlease .dpPassBlock #dpPass {
  display: inline-block;
}
.loginPlease .dpPassBlock #dpPass #displaypass {
  flex-shrink: 3;
  flex-grow: 1;
  border-radius: 8px;
  flex-shrink: 2;
  padding: 5px;
  margin: 0;
}

.Event1 {
  border: 1px solid;
  padding: 3px;
  display: inline-block;
  border-radius: 5px;
}
.Event1 #pieChart {
  border: 1px solid;
  margin: 10px;
  text-align: center;
}
.Event1 .borderThis {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.Event1 .borderThis > div {
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
}

#inout {
  border: 1px solid;
}

.Event2 {
  margin: 10px 5px;
}

.Event3 {
  margin: 5px;
  border: 1px solid;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
}
.Event3 .container2 {
  display: flex;
}

.Event3:hover {
  box-shadow: 3px 0 3px #074e9e, -3px 0 3px #0ca896, 0 -2px 5px #3c3b47, 0 3px 3px #02f66c;
}
.Event3:hover .container2 {
  /* fallback until better support for mask-border */
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin2 {
  10% {
    background-color: #f6e123;
  }
  20% {
    background-color: #ea521b;
  }
  30% {
    background-color: #46c295;
  }
  40% {
    background-color: #ddecee;
  }
  50% {
    background-color: #a7187e;
  }
  60% {
    background-color: #6e6aad;
  }
  70% {
    background-color: #a82929;
  }
  80% {
    background-color: #303a2c;
  }
  90% {
    background-color: #193299;
  }
  100% {
    background-color: #2cb367;
  }
  /* or more simple
  clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%); 
  */
}
@keyframes changeShape {
  0% {
    width: 50px;
    aspect-ratio: 1;
    background: #F8CA00;
    -webkit-clip-path: polygon(50% 0, 79.3892626146% 90.4508497187%, 2.4471741852% 34.5491502813%, 97.5528258148% 34.5491502813%, 20.6107373854% 90.4508497187%);
            clip-path: polygon(50% 0, 79.3892626146% 90.4508497187%, 2.4471741852% 34.5491502813%, 97.5528258148% 34.5491502813%, 20.6107373854% 90.4508497187%);
  }
  50% {
    height: 250px; /* adjust to control the size */
    aspect-ratio: 1;
    --_m: radial-gradient(#000 69%,#0000 70%) 84.5%/50%;
    -webkit-mask-box-image: var(--_m);
    mask-border: var(--_m);
    -webkit-clip-path: polygon(-41% 0, 50% 91%, 141% 0);
            clip-path: polygon(-41% 0, 50% 91%, 141% 0);
    background: #cc333f;
  }
  100% {
    --t: 45%; /* control the tail part */
    --h: 40%; /* control the head part */
    aspect-ratio: 3/2;
    width: 250px;
    background: #033649;
    -webkit-clip-path: polygon(0 calc(50% - var(--t) / 2), calc(100% - var(--h)) calc(50% - var(--t) / 2), calc(100% - var(--h)) 0, 100% 50%, calc(100% - var(--h)) 100%, calc(100% - var(--h)) calc(50% + var(--t) / 2), 0 calc(50% + var(--t) / 2));
            clip-path: polygon(0 calc(50% - var(--t) / 2), calc(100% - var(--h)) calc(50% - var(--t) / 2), calc(100% - var(--h)) 0, 100% 50%, calc(100% - var(--h)) 100%, calc(100% - var(--h)) calc(50% + var(--t) / 2), 0 calc(50% + var(--t) / 2));
  }
}
@supports not (-webkit-mask-box-image: var(--_m)) {
  .Event3:hover .container2 .heart {
    -webkit-mask: radial-gradient(at 70% 31%, #000 29%, rgba(0, 0, 0, 0) 30%), radial-gradient(at 30% 31%, #000 29%, rgba(0, 0, 0, 0) 30%), conic-gradient(#000 0 0) bottom/100% 50% no-repeat;
            mask: radial-gradient(at 70% 31%, #000 29%, rgba(0, 0, 0, 0) 30%), radial-gradient(at 30% 31%, #000 29%, rgba(0, 0, 0, 0) 30%), conic-gradient(#000 0 0) bottom/100% 50% no-repeat;
  }
}

.EventsandObjects {
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
}
.EventsandObjects .imgEandO {
  width: 350px;
  transition: transform 2s;
}
.EventsandObjects .imgEandO:active {
  transform: scale(4) rotate(720deg) translate(185px, -85px);
}

.createParagraph {
  margin: 5px;
}
.createParagraph #containerNewElement {
  border: 1px solid;
  display: inline-block;
}
.createParagraph #containerNewElement h5 {
  margin: 0;
}

#replaceMeContainer {
  border: 1px solid;
  display: inline-block;
  text-align: center;
  padding: 5px;
}
#replaceMeContainer #clickReplaceme {
  margin: 0;
}
#replaceMeContainer #OldButton {
  text-align: center;
}

.Timers {
  margin: 5px;
}
.Timers h2 {
  margin: 0;
  text-align: center;
}
.Timers .Taymers {
  display: inline-block;
  border: 1px solid;
  border-radius: 5px;
  padding: 0 8px;
  text-align: center;
}
.Timers .Taymers #msConvertion {
  width: 400px;
}

#Arrayimg {
  width: 350px;
}

#ArrayDiv {
  position: relative;
  display: inline-block;
}
#ArrayDiv h5 {
  margin: 0;
  text-align: center;
}
#ArrayDiv #closeX {
  width: 50px;
  position: absolute;
  right: 1px;
}

.Arrays .ArraysContainer {
  border: 1px solid;
  display: inline-block;
  border-radius: 5px;
}
.Arrays .flexthis {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.Arrays .shoppingCart {
  border: 1px solid;
  padding: 3px;
  margin: 5px;
  flex-shrink: 1;
  flex-grow: 3;
}
.Arrays .shoppingCart h5 {
  margin: 0;
  text-align: center;
}
.Arrays .shoppingCart p {
  text-align: center;
}
.Arrays .Weekdays {
  border: 1px solid;
  margin: 5px;
  flex-shrink: 3;
  flex-grow: 3;
}
.Arrays .Weekdays h5 {
  margin: 0;
  text-align: center;
}
.Arrays .Weekdays p {
  text-align: center;
}

.colorP {
  border: 1px solid;
  display: inline-block;
  border-radius: 5px;
  margin: 5px;
}
.colorP #colorMe {
  margin: 0;
}

.Colorslider {
  border: 1px solid;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
}
.Colorslider .makeSpaceCol {
  flex-wrap: wrap;
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  justify-content: center;
}
.Colorslider #slider1 {
  text-align: center;
}

.ClassListusingTheArray {
  border-radius: 5px;
  margin: 5px;
}
.ClassListusingTheArray .classList {
  border: 1px solid;
  padding: 0 5px 5px 5px;
  border-radius: 5px;
  display: inline-block;
}
.ClassListusingTheArray .classList h3 {
  margin: 0;
  text-align: center;
}/*# sourceMappingURL=jsim.css.map */